/* Title Styling */
.title {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 1.5;
}

.first-title {
    padding: 30px;
    font-size: 1.8em;
    font-weight: 900;
    color: #fffaf0;
}

.second-title {
    width: 100%;
    height: 20px;
    color: #fffaf0;
    white-space: pre-line;
}

.typed-text-container {
    height: auto;
    height: 60px;
    position: relative;
}
.typing-line {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.typing-cursor {
    font-size: 1.2rem;
    color: #ffffff;
    animation: blink 1s infinite;
    margin-left: 3px;
    font-family: "Times New Roman", Times, serif;
    font-stretch: condensed;
    display: inline-block;
    transform: scaleX(0.4);
    -webkit-transform: scaleX(0.4);
    transform-origin: left center;
}

.typing-cursor.blinking {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}

.if_you {
    position: relative;
    color: #fffaf0;
    white-space: pre-line;
}

.arrow_from-door {
    position: fixed;
    top: 75%;
    left: 59%;
    width: 120px;
    height: auto;
    transform: translateX(-50%) rotate(-8deg);
    animation: fadeInPage 3s ease-in;
}
/* Button Styles */

.btn-shine {
    background: linear-gradient(
        120deg,
        #ffffff 0%,
        #ffffff 20%,
        #00ff08 40%,
        #ffffff 60%,
        #ffffff 80%,
        #ffffff 100%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 7s infinite linear;
    -webkit-text-size-adjust: none;
}

@keyframes shine {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@-moz-keyframes shine {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@-o-keyframes shine {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.resume_button {
    display: inline-block;
    padding: 8px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 0 1px #ffffff;
    position: relative;
    overflow: hidden;
}

.resume_button:hover {
    transform: scale(1.01);
}
/* From Uiverse.io by neerajbaniwal */

.btn-back {
    display: inline-block;
    padding: 8px 10px;
    color: #fffaf0;
    background-color: #ce1515;
    border: none;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease,
        transform 0.3s ease;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.btn-back:hover {
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.05);
}

/* Box Styles */

/* Keyframe Animations */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    99% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(0deg);
    }
}
