.images-container {
    position: absolute;
    display: flex;
    height: auto;
    transform: translateX(0vw) scale(90%);
    z-index: 80;
    opacity: 0.15;
}

.left-image {
    flex: 0.2;
    height: 400px;
    width: 190px;
    opacity: 0;
    transform: translateX(-100vw);
    animation: slideInLeft 2s ease forwards;
    z-index: 8;
}

.right-image {
    flex: 0.8;
    height: 400px;
    opacity: 0;
    transform: translateX(100vw);
    animation: slideInRight 3s ease forwards;
    z-index: 8;
}

@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(70px);
    }
}

@keyframes slideInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
