
.custom-modal-content {
  background-color: #04000fe7;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  padding: 15px;
  border-radius: 10px;
}

.custom-modal-content h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
  color: #aaaaaa;
  font-family: "kalam", sans-serif;
}

.go_to-website {
  animation: hurtbit 2s linear infinite;
}

@keyframes hurtbit {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  to {
    transform: scale(1);
  }
}

.custom-modal-size {
  max-width: 80%;
  max-width: 600px;

}

.custom-modal-content p {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  font-family: "kalam", sans-serif;
}

.modal-image {
  width: 15%;
  height: auto;
}

.custom-button {
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  height: 170px;
}

.modal-content h1 {
  text-align: center;
}
.modal-content p {
  text-align: center;
}
.modal-content button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.text-center {
  display: block;
  position: relative;
  top: 160px;
}

.arrow3rd {
  position: absolute;
  top: 103%;
  left: 49.68%;
}

@media (max-width: 768px) {
  .custom-modal-size {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .custom-modal-size {
    width: 100%;
  }
  .custom-modal-content h4{
    font-size: 1.2rem;
  }
}

@media screen and (max-device-aspect-ratio: 2/3) and (hover: none) {
  /* iOS-specific CSS here; iOS teaches us patience :| */
  .third-container {
    position: relative;
    top: 100px;
    height: 30vh;
    scale: 0.9;
  }
}