.custom-modal-content {
  color: #000000;
  font-size: 14px;
  line-height: 1.5;
}
.custom-modal-content h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
  font-family: "kalam", sans-serif;
}

.go_to-website {
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  animation: hurtbit 2s linear infinite;
}

@keyframes hurtbit {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  to {
    transform: scale(1);
  }
}

.custom-modal-size {
  max-width: 80%;
}

.custom-modal-content p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  color: #333;
  font-family: "kalam", sans-serif;
}

.modal-image {
  width: 15%;
  height: auto;
}

.custom-button {
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  height: 170px;
}
.modal-content {
  position: relative;
  margin-top: 70px;
  padding: 15px;
  border: 1px solid #888;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal-content h1 {
  text-align: center;
}
.modal-content p {
  text-align: center;
}
.modal-content button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.text-center {
  display: block;
  position: relative;
  top: 160px;
}
.border {
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  background-color: #002aff10;
}

.arrow3rd {
  position: absolute;
  top: 103%;
  left: 49.68%;
}
