.scroller_carousel {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: -180px;
}

.scroller__inner_carousel {
  padding-block: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .1rem;
  text-align: center;
}

.scroller__inner_carousel-background{
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 3px;
}
.scroller__inner_carousel-background img{
  height: 30px;
  margin-left: 10px;
}
.scroller__inner_carousel-background img:hover{
  height: 100px;
  z-index: 1;
  transition: 0.5s;
}


.scroller_carousel[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.scroller_carousel[data-animated="true"] .scroller__inner_carousel {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller_carousel[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller_carousel[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller_carousel[data-speed="fast"] {
  --_animation-duration: 10s;
}

.scroller_carousel[data-speed="slow"] {
  --_animation-duration: 80s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}


.tag-list li {
  padding-left: 1rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

.scroller_carousel:hover .scroller__inner_carousel {
  animation-play-state: paused;
}