nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 10px 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
  padding: 0;
  padding-top: 20px;
  margin: 0;
}

nav ul li {
  color: #fff;
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: #ffff0025 0px 1px 0px 0px;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nav-label {
  display: block;
  font-size: 0.6rem;
  font-weight: 400;
  text-align: center;
  margin-top: 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background-color: #ff000085;
  color: #fff;
  border: #fff 1px solid;
}

.active {
  color: #ff0000;
}
