nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 10px 0;
  z-index: 1000;
  background-color:transparent;

}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
  padding: 0;
  padding-top: 20px;
  margin: 0;
}

nav ul li {
  color: #fff;
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: #2f2f2f 0px 1px 0px 1px;
  text-align: center;
  width: 100px;
height: 45PX;
border-top-left-radius: 50% 90%;
border-bottom-right-radius: 50% 100%;
}

.nav-label {
  display: block;
  font-size: 0.6rem;
  font-weight: 400;
  text-align: center;
  margin-top: 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  color: #fff;
  background-color: #9d000073;
}

.active {
  color: #ff0000;
}
