nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 3px 0;
  z-index: 9999;
  background-color: transparent;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 12px;
  padding: 0;
  padding-top: 20px;
  margin: 0;
}

nav ul li {
  color: #fff;
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: #a8a8a856 0px 1px 0px 1px;
  text-align: center;
  width: 100px;
  height: 43px;
  border-top-left-radius: 50% 90%;
  border-bottom-right-radius: 50% 100%;
}

.nav-label {
  display: block;
  font-size: 0.6rem;
  text-align: center;
  margin-top: 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  color: #fff;
  background-color: #bc0000;
}

.active {
  color: #ff0000;
}
